<div class="container">
  <div class="row">
      <h3 class="pt-5 text-xs-center">Pet Insurance Coverage:</h3>
  </div>
  <div class="row">
    <app-coverage class="col-sm-3"[premium]="premium" *ngFor="let premium of premiums" (premiumAmount)="onCoverage($event)"></app-coverage>

  </div>
</div>

<div class="container">
  <div class="row">
      <h3 class="pt-5">
          Add On Coverage:
        </h3>
  </div>
  <div class="row">
    
    <app-add-on class="col-sm-3"[addOnPremium]="addOnPremium" *ngFor="let addOnPremium of addOnPremiums" (addOnAmount)="onAddOn($event)"></app-add-on>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
          Total Premium = {{ totalPremium }}      
      </h3>
    </div>
  </div>
</div>